

* {
  padding: 0%;
  margin: 0px;
  box-sizing: border-box;
}


#animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#envelope-animation {
  width: 100%;
  height: 100%;
  object-fit: cover;
}